In [42]:
import os

In [43]:
os.chdir(r"C:\Users\Ananda\Desktop\Unified mentor\Amazon sales")

In [44]:
import pandas as pd
import numpy as np
import plotly.express as px

In [45]:
df = pd.read_csv('Amazon sales data.csv')

In [46]:
df.head(20)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.10,343986.90,152114.20
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70,117.11,1356180.10,772106.23,584073.87
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,7/12/2011,124,154.06,90.93,19103.44,11275.32,7828.12
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,8/2/2014,939825713,8/19/2014,4168,109.28,35.84,455479.04,149381.12,306097.92
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,3/1/2017,8263,109.28,35.84,902980.64,296145.92,606834.72
13,Central America and the Caribbean,Honduras,Household,Offline,H,2/8/2017,522840487,2/13/2017,8974,668.27,502.54,5997054.98,4509793.96,1487261.02
14,Asia,Mongolia,Personal Care,Offline,C,2/19/2014,832401311,2/23/2014,4901,81.73,56.67,400558.73,277739.67,122819.06
15,Europe,Bulgaria,Clothes,Online,M,4/23/2012,972292029,6/3/2012,1673,109.28,35.84,182825.44,59960.32,122865.12
16,Asia,Sri Lanka,Cosmetics,Offline,M,11/19/2016,419123971,12/18/2016,6952,437.20,263.33,3039414.40,1830670.16,1208744.24
17,Sub-Saharan Africa,Cameroon,Beverages,Offline,C,4/1/2015,519820964,4/18/2015,5430,47.45,31.79,257653.50,172619.70,85033.80
18,Asia,Turkmenistan,Household,Offline,L,12/30/2010,441619336,1/20/2011,3830,668.27,502.54,2559474.10,1924728.20,634745.90
19,Australia and Oceania,East Timor,Meat,Online,L,7/31/2012,322067916,9/11/2012,5908,421.89,364.69,2492526.12,2154588.52,337937.60

In [47]:
df['Order Date'] = df['Order Date'].str.replace('-', '/')
df['Ship Date'] = df['Ship Date'].str.replace('-', '/')

In [48]:
df.head(20)
df = df.astype(str)
columns = df.columns.tolist()
print(columns)
for column in columns:
    df[column] = df[column].str.strip()

['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority', 'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit']

In [49]:
df.head(20)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.0,1582243.5,951410.5
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.7,117.11,576782.8,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.5
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,2/4/2015,547995746,2/21/2015,2974,255.28,159.42,759202.72,474115.08,285087.64
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27,502.54,2798046.49,2104134.98,693911.51
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06,90.93,1245112.92,734896.26,510216.66
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73,56.67,496101.1,343986.9,152114.2
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.7,117.11,1356180.1,772106.23,584073.87
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,7/12/2011,124,154.06,90.93,19103.44,11275.32,7828.12
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,8/2/2014,939825713,8/19/2014,4168,109.28,35.84,455479.04,149381.12,306097.92
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,3/1/2017,8263,109.28,35.84,902980.64,296145.92,606834.72
13,Central America and the Caribbean,Honduras,Household,Offline,H,2/8/2017,522840487,2/13/2017,8974,668.27,502.54,5997054.98,4509793.96,1487261.02
14,Asia,Mongolia,Personal Care,Offline,C,2/19/2014,832401311,2/23/2014,4901,81.73,56.67,400558.73,277739.67,122819.06
15,Europe,Bulgaria,Clothes,Online,M,4/23/2012,972292029,6/3/2012,1673,109.28,35.84,182825.44,59960.32,122865.12
16,Asia,Sri Lanka,Cosmetics,Offline,M,11/19/2016,419123971,12/18/2016,6952,437.2,263.33,3039414.4,1830670.16,1208744.24
17,Sub-Saharan Africa,Cameroon,Beverages,Offline,C,4/1/2015,519820964,4/18/2015,5430,47.45,31.79,257653.5,172619.7,85033.8
18,Asia,Turkmenistan,Household,Offline,L,12/30/2010,441619336,1/20/2011,3830,668.27,502.54,2559474.1,1924728.2,634745.9
19,Australia and Oceania,East Timor,Meat,Online,L,7/31/2012,322067916,9/11/2012,5908,421.89,364.69,2492526.12,2154588.52,337937.6

In [50]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-05-28,669165933,6/27/2010,9925,255.28,159.42,2533654.0,1582243.5,951410.5
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-08-22,963881480,9/15/2012,2804,205.7,117.11,576782.8,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-05-02,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-06-20,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-02-01,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.5

In [51]:
df['Order Date'] = df['Order Date'].astype(str)
df['Year'] = df['Order Date'].apply(lambda x: x.split('-')[0])
df['Month'] = df['Order Date'].apply(lambda x: x.split('-')[1])

In [52]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Year,Month
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-05-28,669165933,6/27/2010,9925,255.28,159.42,2533654.0,1582243.5,951410.5,2010,05
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-08-22,963881480,9/15/2012,2804,205.7,117.11,576782.8,328376.44,248406.36,2012,08
2,Europe,Russia,Office Supplies,Offline,L,2014-05-02,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75,2014,05
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-06-20,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82,2014,06
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-02-01,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.5,2013,02

In [53]:
for column in columns[8:]:
    df[column] = df[column].astype(float)

In [54]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Year,Month
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-05-28,669165933,6/27/2010,9925.0,255.28,159.42,2533654.00,1582243.50,951410.50,2010,05
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-08-22,963881480,9/15/2012,2804.0,205.70,117.11,576782.80,328376.44,248406.36,2012,08
2,Europe,Russia,Office Supplies,Offline,L,2014-05-02,341417157,5/8/2014,1779.0,651.21,524.96,1158502.59,933903.84,224598.75,2014,05
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-06-20,514321792,7/5/2014,8102.0,9.33,6.92,75591.66,56065.84,19525.82,2014,06
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-02-01,115456712,2/6/2013,5062.0,651.21,524.96,3296425.02,2657347.52,639077.50,2013,02

In [55]:
df = df.drop(['Order ID'],axis=1)

In [56]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Year,Month
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-05-28,6/27/2010,9925.0,255.28,159.42,2533654.00,1582243.50,951410.50,2010,05
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-08-22,9/15/2012,2804.0,205.70,117.11,576782.80,328376.44,248406.36,2012,08
2,Europe,Russia,Office Supplies,Offline,L,2014-05-02,5/8/2014,1779.0,651.21,524.96,1158502.59,933903.84,224598.75,2014,05
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-06-20,7/5/2014,8102.0,9.33,6.92,75591.66,56065.84,19525.82,2014,06
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-02-01,2/6/2013,5062.0,651.21,524.96,3296425.02,2657347.52,639077.50,2013,02

In [57]:
df = df.drop(['Order Date'],axis=1)

In [58]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Year,Month
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,6/27/2010,9925.0,255.28,159.42,2533654.00,1582243.50,951410.50,2010,05
1,Central America and the Caribbean,Grenada,Cereal,Online,C,9/15/2012,2804.0,205.70,117.11,576782.80,328376.44,248406.36,2012,08
2,Europe,Russia,Office Supplies,Offline,L,5/8/2014,1779.0,651.21,524.96,1158502.59,933903.84,224598.75,2014,05
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,7/5/2014,8102.0,9.33,6.92,75591.66,56065.84,19525.82,2014,06
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/6/2013,5062.0,651.21,524.96,3296425.02,2657347.52,639077.50,2013,02

In [59]:
import plotly.express as px

In [60]:
fig = px.pie(df,values="Total Revenue",names="Item Type",template="plotly_dark",title="Total revenue per item")

In [61]:
fig = px.pie(df,values="Total Revenue",names="Region",template="plotly_dark",title="Total revenue in Regions")

In [62]:
fig = px.scatter(df,x='Country',y='Units Sold',color='Region',size='Units Sold',animation_frame='Year',template='plotly_dark',title="Units Sold Per Year")

In [63]:
fig = px.scatter(df,x='Country',y='Units Sold',color='Region',size='Units Sold',animation_frame='Month',template='plotly_dark',title='Units Sold Per Month')

In [64]:
fig = px.bar(df,x='Country',y=["Total Cost", "Total Profit","Total Revenue"],barmode='stack',animation_frame='Year',template="plotly_dark",title="combination of all factors")

In [65]:
fig = px.bar(df,x='Country',y=["Total Cost", "Total Profit","Total Revenue"],barmode='stack',animation_frame='Month',template="plotly_dark",title="combination of all factors per month")

In [78]:
df['Net Profit Margin'] = (df['Total Profit'] * 100)/df['Total Revenue']

In [79]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Year,Month,Net Profit Margin,Size
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,6/27/2010,9925.0,255.28,159.42,2533654.00,1582243.50,951410.50,2010,05,37.550924,5067308.00
1,Central America and the Caribbean,Grenada,Cereal,Online,C,9/15/2012,2804.0,205.70,117.11,576782.80,328376.44,248406.36,2012,08,43.067574,1153565.60
2,Europe,Russia,Office Supplies,Offline,L,5/8/2014,1779.0,651.21,524.96,1158502.59,933903.84,224598.75,2014,05,19.386987,2317005.18
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,7/5/2014,8102.0,9.33,6.92,75591.66,56065.84,19525.82,2014,06,25.830654,151183.32
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/6/2013,5062.0,651.21,524.96,3296425.02,2657347.52,639077.50,2013,02,19.386987,6592850.04

In [81]:
fig=px.scatter(df,x='Country',y='Net Profit Margin',color='Region',animation_frame='Year',size='Net Profit Margin',template='plotly_dark')

In [ ]:
fig=px.scatter(df,x='Country',y='Net Profit Margin',color='Region',animation_frame='Month',size='Net Profit Margin',template='plotly_dark',title='Net profit Margin Per month')
fig.show()

In [69]:
fig = px.scatter(df,x='Country',y='Units Sold',color='Item Type',size='Units Sold',animation_frame='Year',template='plotly_dark',title="Units Sold Per Item")

In [70]:
df['Size'] = df['Total Revenue']+df['Total Cost']+df['Total Profit']

In [71]:
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Year,Month,Net Profit Margin,Size
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,6/27/2010,9925.0,255.28,159.42,2533654.00,1582243.50,951410.50,2010,05,37.550924,5067308.00
1,Central America and the Caribbean,Grenada,Cereal,Online,C,9/15/2012,2804.0,205.70,117.11,576782.80,328376.44,248406.36,2012,08,43.067574,1153565.60
2,Europe,Russia,Office Supplies,Offline,L,5/8/2014,1779.0,651.21,524.96,1158502.59,933903.84,224598.75,2014,05,19.386987,2317005.18
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,7/5/2014,8102.0,9.33,6.92,75591.66,56065.84,19525.82,2014,06,25.830654,151183.32
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/6/2013,5062.0,651.21,524.96,3296425.02,2657347.52,639077.50,2013,02,19.386987,6592850.04

In [72]:
from vizro import Vizro
Vizro._reset()

In [73]:
import vizro.plotly.express as px
from vizro import Vizro
import vizro.models as vm
import plotly.graph_objects as go
from vizro.models.types import capture



page_1 = vm.Page(
    title="Homepage",
    components=[
        vm.Card(
            text="""
            ![](https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?w=996&t=st=1705597305~exp=1705597905~hmac=35e7a04679e26dc03a5d0f62e166aa9df33162b0db2852e939098397f3ca2511#icon-top)
            ### Amazon analysis

            Get a Premium User Experience.
            """,
            href="/amazon-analysis",
        ),
        vm.Card(
            text="""
            ![](https://img.freepik.com/free-photo/view-3d-businessman_23-2150710000.jpg?t=st=1705580623~exp=1705584223~hmac=f75cb019cbcacff936c4f2fd7bffee024963b0f9f24021734bc1c3759c428658&w=740#icon-top)

            ### About Me

            Get To Know Me .
            """,
            href="/about-me",
        ),

    ],
)
page = vm.Page(
    title="Amazon Analysis",
     layout=vm.Layout(grid=[[i] for i in range(9)],
                     row_min_height="900px",
                     col_min_width='240px'),
    components=[
        vm.Graph(id='Total revenue per item',
                 figure= px.pie(df,values="Total Revenue",names="Item Type",template="seaborn",title="Total revenue per item")),
        vm.Graph(id="Total revenue in Regions",
                 figure= px.pie(df,values="Total Revenue",names="Region",template="seaborn",title="Total revenue in Regions")),
        vm.Graph(id="Units Sold Per Year",
                 figure=px.scatter(df,x='Country',y='Units Sold',color='Region',size='Total Revenue',animation_frame='Year',template='seaborn',title="Units Sold Per Year",range_y=[0,10000])),
        vm.Graph(id="Units Sold Per Month",
                 figure=px.scatter(df,x='Country',y='Units Sold',color='Region',size='Total Revenue',animation_frame='Month',template='seaborn',title='Units Sold Per Month',range_y=[0,10000])),
        vm.Graph(id="combination of all factors",
                 figure=px.bar(df,x='Country',y=["Total Cost", "Total Profit","Total Revenue"],barmode='stack',animation_frame='Year',template="seaborn",title="combination of all factors")),
        vm.Graph(id="combination of all factors per month",
                 figure=px.bar(df,x='Country',y=["Total Cost", "Total Profit","Total Revenue"],barmode='stack',animation_frame='Month',template="seaborn",title="combination of all factors per month")),
        vm.Graph(id="Net Profit Margin per year",
                 figure=px.scatter(df,x='Country',y='Net Profit Margin',color='Region',animation_frame='Year',size='Total Revenue',template='seaborn',range_y=[0,10000])),
        vm.Graph(id="Net Profit Margin Per Month",
                 figure=px.scatter(df,x='Country',y='Net Profit Margin',color='Region',animation_frame='Month',size='Total Revenue',template='seaborn',title='Net profit Margin Per month',range_y=[0,100])),
        
        vm.Graph(id="Units sold Per item Per Year",
                 figure=px.scatter(df,x='Country',y='Units Sold',color='Item Type',size='Total Revenue',animation_frame='Year',template='seaborn',title="Units Sold Per Item",range_y=[0,100])),
                 
    ],
   controls = [
            vm.Parameter(selector=vm.RangeSlider(min=0,
                                                 max=10000,
                                                 value=[0,5000],
                                                 step=1000,
                                                 title='Y Range'),
                         targets=['Units Sold Per Year.range_y','Units Sold Per Month.range_y'])
   ]
)

aboutme = vm.Page(
          title="About Me",
          components=[
              vm.Card(
                  text="""
                  ### 
                  ![](https://avatars.githubusercontent.com/u/135506157?v=4#floating-top)
                  
                  
                     Self-motivated Data Analyst dedicated to continuous learning. Proficient
                     in deriving insights from complex datasets, demonstrating consistent
                     performance, attention to detail, and strong decision-making skills.
                     Exceptional communicator and leader. Actively networking to expand
                     industry connections, contributing to collaborative data-driven
                     initiatives. Committed to excellence, aspiring to provide innovative
                     solutions and drive impactful decision-making in dynamic team
                     environments.
                     """
                  
              )
          ]
)
dashboard = vm.Dashboard(pages=[page_1,page,aboutme])
Vizro().build(dashboard).run(port=8000)